.stats-container>.stats-grid:first-child {
    position: relative;
    padding-top: 2.6rem;
}


.stats-container>.stats-grid:first-child::before {
    content: "🔥";
    position: absolute;
    top: 0.8rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.5rem;
}

/* add emoji of flame */



.stats-container>.stats-grid:nth-child(3) .stat-number,
.stats-container>.stats-grid:nth-child(3) .stat-label {
    color: #fff;
}

.stats-container>.stats-grid:nth-child(3) {
    background: linear-gradient(135deg, #6a7cff, #7b5dd6);
    color: #fff;
}

/* bg color gradient */


.stats-grid:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.600);
}

/* box shadow */



.workout-section>.workout-plan:nth-child(3) {
    background: #fff8c6;
    border-left: 5px solid #ff9800;
    padding-left: 15px;
}

/* color card workout-plan */



.exercise-item:first-child,
.exercise-item:last-child {
    background: #f0fff4;
    border-left: 4px solid #2ecc71;
    padding-left: 10px;
}

/* color first and last box */


.exercise-item:nth-child(2) .exercise-name::before,
.exercise-item:nth-child(4) .exercise-name::before {
    content: "⚡ ";
}

/* icon negli esercizi pari */



input,
select {
    transition: 0.3s;
}

input:focus,
select:focus {
    border: 2px solid blue;
    box-shadow: 0 0 5px blue;
    outline: none;
}

/* input and select style */



.save-btn {
    background: linear-gradient(135deg, #6a7cff, #141fb7);
}

.save-btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 15px rgba(79, 110, 247, 0.6);
}

/* button color and border shadow */



/* percentuale nella barra di progesso */

.progress-fill {
    position: relative;
}

.progress-fill::after {
    content: "65%";
    position: absolute;
    right: 6px;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-size: 12px;
    font-weight: bold;
}

/* menù nav attivo */

.nav-item:hover {
    background: #1f2a35;
    color: blue;
}

.nav-item:first-child {
    background: #1f2a35;
    color: blue;
}


